@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    --color1: #4c9c59;
    --color2: #55b465;
    --color3: #498654;
    --color4: #63c674;
    --color5: #95f4a5;
    --text1: #cee5d5;
    --text2: #fdca40;
    --clear_btn: rgba(255, 255, 255, 0.25);
    --clear_btn_hover: rgba(255, 255, 255, 0.15);
    --grey: #7b7b7b;
    background-color: #4c9c59;

}

*{
    margin: 0;
    font-family: 'Poppins';
    color: var(--text1);
    padding: 0;
    scroll-behavior: smooth !important;
    transition: 0.25s;
    color: var(--text1);
}

b{
    font-weight: 600;
}

.material-symbols-rounded{
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' -25,
    'opsz' 48
}

img{
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main{
    min-height: 100vh;
    width: 100%;
    font-size: 1.25rem;
    position: relative;
}

.header{
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: max-content;
    width: calc(100% - 2rem);
}

.header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
}

.header .logo h1{
    font-size: 2rem;
    font-family: 'Fjalla One';
    letter-spacing: 0.15rem;
}

.header .logo h1 span{
    color: var(--color5);
    font-family: 'Fjalla One';
}

.header .logo img{
    aspect-ratio: 1/1;
    height: 4rem;
    margin-right: 0.5rem;
}

.header .buttons{
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
}

.header .buttons h1{
    font-size: 1.15rem;
    font-weight: 400;
}

.header .buttons h1:hover{
    cursor: pointer;
    color: var(--color5);
}

.section1{
    background: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(../vectors/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .holder{
    /* margin-top: 16vh; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 .holder h1{
    width: max-content;
    margin-top: -2rem;
    font-size: 5.5rem;
    color: var(--text1);
    margin-bottom: -0.5rem;
    background: -webkit-linear-gradient(0deg, var(--color5), var(--text1), var(--color5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1 .holder h2{
    font-size: 1.5rem;
    color: var(--text1);
    font-weight: 400;
}

.section1 .holder .buttons{
    gap: 0.75rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section1 .holder .buttons h3{
    cursor: pointer;
    background: var(--clear_btn);
    color: var(--text1);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 400;
}

.section1 .holder .buttons h3:hover{
    box-shadow: inset 8em 0 0 0 var(--clear_btn_hover);
}

.section2{
    border-top: #427c4c solid 0.1rem;
    background: var(--color1);
    padding: 3rem;
    text-align: center;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

.section2 h1{
    color: var(--color5);
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    -webkit-text-decoration: var(--color3) solid underline;
    text-decoration: var(--color3) solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.section2 h2{
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 80rem;
}

.section2 h2 span{
    color: var(--color5);
    font-weight: 600;
}

.section2 h3{
    cursor: pointer;
    background: var(--text1);
    color: var(--color1);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 400;
    width: max-content;
    margin: auto;
    margin-top: 1rem;
}

.section2 h3:hover{
    box-shadow: inset 8em 0 0 0 var(--color3);
    color: var(--text1);
}

.section3{
    border-top: #427c4c solid 0.1rem;
    background: var(--text1);
    padding: 1rem 3rem;
    text-align: center;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

.section3 .holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section3 .text{
    margin: auto;
}

.section3 .imagery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 img{
    aspect-ratio: 1/1;
    height: 30rem;
}

.section3 h1{
    color: var(--color1);
    font-size: 2.25rem;
    margin-bottom: 1rem;
    -webkit-text-decoration: var(--color1) solid underline;
    text-decoration: var(--color1) solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.section3 h2{
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 80rem;
}

.section3 h2 span{
    color: var(--color1);
    font-weight: 600;
}

.section3 h3{
    cursor: pointer;
    background: var(--color1);
    color: var(--text1);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 400;
    width: max-content;
    margin: auto;
    margin-top: 1rem;
}

.section3 h3:hover{
    box-shadow: inset 8em 0 0 0 #a5b7ab;
    color: var(--text1);
}

.section4{
    border-top: #427c4c solid 0.1rem;
    background: var(--color1);
    padding: 3rem;
    text-align: center;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

.section4 .holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section4 .text{
    margin: auto;
}

.section4 .imagery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4 img{
    aspect-ratio: 1/1;
    height: 30rem;
}

.section4 h1{
    color: var(--color5);
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
    -webkit-text-decoration: var(--color3) solid underline;
    text-decoration: var(--color3) solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.section4 h2{
    color: var(--text1);
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 80rem;
}

.section4 h2 span{
    color: var(--color5);
    font-weight: 600;
}

.section4 h3{
    cursor: pointer;
    background: var(--text1);
    color: var(--color1);
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 400;
    width: max-content;
    margin: auto;
    margin-top: 1rem;
}

.section4 h3:hover{
    box-shadow: inset 5em 0 0 0 var(--color3);
    color: var(--text1);
}

.footer{
    border-top: #427c4c solid 0.125rem;
    padding: 3rem;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    background: var(--color3);
}

.footer .holder{
    text-align: center;
}

.footer .holder h1{
    font-size: 2.25rem;
    margin-bottom: 1rem;
    -webkit-text-decoration: var(--color3) solid underline;
    text-decoration: var(--color3) solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.footer .holder h2{
    font-weight: 400;
    font-size: 1.25rem;
}

.footer .holder h2 span{
    cursor: pointer;
}

.footer .holder h2 a{
    text-decoration: none;
}

.footer .holder h2 a:hover{
    text-decoration: underline;
}

.header .buttons span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 8vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    display: none;
}

.header .buttons span:hover{
    color: var(--color5);
}

.menu{
    display: none;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.20);
    padding: 1vw 1vw;
    border-radius: 1vw;
    /* border: var(--color5) solid 0.25vw; */
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin-top: 35vw;
    margin-right: 2vw;
    transform: scale(0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.menu h1{
    font-size: 4vw;
    font-weight: 400;
    border-radius: 0.5vw;
    padding: 0vw 0.5vw;
    transition: 0s;
}

.menu h1:hover{
    cursor: pointer;
    color: var(--color5);
    background: #95f4a538;
}
  
  
.menu .tooltip{
    width: 0;
    height: 0;
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
    border-bottom: 1.5vw solid rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: -2.3vw;
    transform: translateX(20vw);
}

/* ----- MOBILE VERSION ----- */

@media only screen and (max-width: 850px){
    .main{
        font-size: 3vw;
    }

    .header .buttons h1{
        display: none;
    }

    .header .buttons span{
        display: block;
    }
    
    .header{
        padding: 1.5vw 3vw;
        width: calc(100% - 6vw);
    }
    
    .header .logo h1{
        font-size: 7.5vw;
        letter-spacing: 0.5vw;
    }

    .header .logo h1 span{
        font-size: 7.5vw;
    }
    
    .header .logo img{
        height: 13.5vw;
        margin-right: 1.25vw;
    }
    
    .section1{
        height: 100vh;
    }
    
    .section1 .holder{
        margin-top: 0vw;
    }
    
    .section1 .holder h1{
        font-size: 12vw;
        margin-bottom: -0.5vw;
    }
    
    .section1 .holder h2{
        font-size: 4vw;
    }
    
    .section1 .holder .buttons{
        margin-top: 2vw;
    }
    
    .section1 .holder .buttons h3{
        font-size: 4vw;
        padding: 2.5vw 4vw;
        border-radius: 1vw;
    }

    .section1 .holder .buttons h3:hover{
        box-shadow: inset 7.75em 0 0 0 var(--clear_btn_hover);
    }
    
    .section2{
        padding: 5vw;
        border-top: #427c4c solid 0.25vw;
    }
    
    .section2 h1{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    
    .section2 h2{
        font-size: 4vw;
        width: 100%;
    }
    
    .section3{
        border-top: #427c4c solid 0.25vw;
        padding: 5vw;
        display: flex;
        justify-content: center;
    }
    
    .section3 .holder{
        display: flex;
        flex-flow: wrap-reverse;
    }

    .section3 .imagery{
        margin: auto;
        margin-bottom: 5vw;
    }
    
    .section3 img{
        height: 95vw;
    }
    
    .section3 h1{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    
    .section3 h2{
        font-size: 4vw;
        width: 100%;
    }
    
    .section3 h3{
        font-size: 3vw;
        padding: 2.5vw 4vw;
        border-radius: 1vw;
        margin-top: 2vw;
    }
    
    .section3 h3:hover{
        box-shadow: inset 8.5em 0 0 0 var(--color4);
    }
    
    .section4{
        border-top: #427c4c solid 0.25vw;
        padding: 5vw;
    }
    
    .section4 .holder{
        display: flex;
        flex-flow: wrap-reverse;
    }

    .section4 .imagery{
        margin: auto;
        margin-top: 5vw;
    }
    
    .section4 img{
        height: 87.5vw;
    }
    
    .section4 h1{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    
    .section4 h2{
        font-size: 4vw;
        width: 100%;
    }
    
    .section4 h3{
        font-size: 4vw;
        padding: 2.5vw 4vw;
        border-radius: 1vw;
        margin-top: 2vw;
    }
    
    .section4 h3:hover{
        box-shadow: inset 4.5em 0 0 0 var(--color3);
    }
    
    .footer{
        border-top: #427c4c solid 0.5vw;
        padding: 5vw;
    }
    
    .footer .holder{
        text-align: center;
    }
    
    .footer .holder h1{
        font-size: 5vw;
        margin-bottom: 1vw;
    }
    
    .footer .holder h2{
        font-size: 4vw;
    }
}

/* @media only screen and (max-width: 400px){
    .section1 .holder{
        margin-top: -30vw;
    }

    .section1{
        height: 100vh;
    }
} */
